@import "src/assets/styles/main.scss";

.notes {
  display: flex;
  justify-content: center;
  gap: 30px;
  height: 100%;
  min-height: 500px;
  margin-bottom: 30px;

  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    text-align: center;
    background-color: $darkGray;
    color: $darkBlue;
    width: 250px;
    padding: 5px;
    margin-bottom: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.06),
      0px 2px 8px rgba(0, 140, 255, 0.1);
    border-radius: 8px;
  }

  &__notions-container {
    height: 100%;
    min-height: 200px;
  }

  &__notion {
    padding: 4px;
    width: 250px;
    height: 100%;
    min-height: 200px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.06),
      0px 2px 8px rgba(0, 140, 255, 0.1);
    border-radius: 8px;

    &-block {
      display: flex;
      flex-direction: column;
      gap: 10px;
      user-select: none;
      padding: 16px;
      margin: 0 0 8px;
      min-height: 50px;
      border-radius: 8px;
      color: white;
    }

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 5px;

      & > h3 {
        word-break: break-word;
      }

      & > svg {
        cursor: pointer;
        transition: all 0.4s ease;
        filter: brightness(0) saturate(100%) invert(97%) sepia(0%) saturate(0%)
          hue-rotate(56deg) brightness(102%) contrast(105%);
        &:hover {
          filter: brightness(0) saturate(100%) invert(100%) sepia(1%)
            saturate(263%) hue-rotate(133deg) brightness(80%) contrast(91%);
          transition: all 0.4s ease;
        }
      }
    }

    &-text {
      @include text;
      word-break: break-word;
    }

    &-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: end;

      @include caption;
      & img {
        width: 24px;
        height: 24px;
      }
    }
  }
}

@media (min-width: $large-desktop) {
  .notes {
    &__notion,
    &__title {
      width: 300px;
    }
  }
}

@media (max-width: #{$large-desktop - 1px}) and (min-width: $big-tablet) {
  .notes {
    &__notion,
    &__title {
      width: 250px;
    }
  }
}

@media (max-width: #{$big-tablet - 1px}) {
  .notes {
    flex-wrap: wrap;
    margin-bottom: 20px;

    &__notion,
    &__title {
      width: 250px;
    }
  }
}

@media (max-width: $desktop) and (min-width: #{$big-tablet + 1px}) {
  .notes {
    &__notion,
    &__title {
      width: 200px;
    }
  }
}

@media (max-width: $big-tablet) {
  .notes {
    &__notion,
    &__title {
      width: 290px;
    }
  }
}

@media (max-width: #{$big-tablet + 1px}) and (min-width: #{$small-tablet + 1px}) {
  .notes {
    &__notion,
    &__title {
      width: 290px;
    }
  }
}

@media (max-width: $small-tablet) {
  .notes {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    &__notion,
    &__title {
      width: 350px;
    }
  }
}

@media (max-width: $phone) {
  .notes {
    margin-bottom: 10px;

    &__block,
    &__notion,
    &__notions-container,
    &__title {
      width: 100%;
    }

    &__notion,
    &__title {
      max-width: calc(100% - 8px);
    }
  }
}
