@import "src/assets/styles/main.scss";

.notes {
  display: flex;
  justify-content: center;
  gap: 30px;
  height: 100%;
  min-height: 500px;
}

.notes_block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notes_block__title {
  text-align: center;
  background-color: $darkGray;
  color: $darkBlue;
  width: 250px;
  padding: 5px;
  margin-bottom: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.06),
    0px 2px 8px rgba(0, 140, 255, 0.1);
  border-radius: 8px;
}

.notes_block__main {
  padding: 4px;
  width: 250px;
  height: 100%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.06),
    0px 2px 8px rgba(0, 140, 255, 0.1);
  border-radius: 8px;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 10px;
  user-select: none;
  padding: 16px;
  margin: 0 0 8px;
  min-height: 50px;
  border-radius: 8px;
  color: white;
}

.block_text {
  @include text;
}

.block_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;

  & > svg {
    cursor: pointer;
    transition: all 0.4s ease;
    filter: brightness(0) saturate(100%) invert(97%) sepia(0%) saturate(0%)
      hue-rotate(56deg) brightness(102%) contrast(105%);
    &:hover {
      filter: brightness(0) saturate(100%) invert(100%) sepia(1%) saturate(263%)
        hue-rotate(133deg) brightness(80%) contrast(91%);
      transition: all 0.4s ease;
    }
  }
}

.block_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: end;

  @include caption;
  & img {
    width: 24px;
    height: 24px;
  }
}
