// blue
$darkBlue: #013f4e;
$lightBlue: #456c86;
$darkGray: #e7e7e7;
$lightGray: #f3f3f3;

$blueBlue: #007fe7;
$deepBlue: #0077d8;
$skyBlue: #008cff;
$normalBlue: #80c5ff;
$blue: #9ecff7;
// $lightBlue: #cee9ff;
$whiteBlue: #f2f9ff;

// red
$normalRed: #d41d3c;
$coral: #ff584e;
$pastelRed: #ffeeed;
$pink: #fae5ff;

// orange
$beige: #fffaea;
$yellow: #fff9d7;
$lightYellow: #fffeec;
$gold: #c19f33;
$lightOrange: #ffad00;
$normalOrange: #ec6500;

// green
$normalGreen: #17a854;
$lightGreen: #eff9e9;

// gray
// $white: #ffffff;
// $lightGray1: #fafafa;
// $lightGray: #f3f3f3;
// $lightGray: #e7e7e7;
// $lightGray: #c5c6c6;
// $lightGray: #9c9c9d;
// $lightGray6: #6e6e6e;
// $lightGray7: #3a3a39;
// $lightGray8: #c4c4c4;
// $black: #000000;
