name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x, 16.x, 18.x]

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
      - name: Install dependencies
        run:  |
        cd ../../
        npm ci
      - name: Build the app
        run:  |
        cd ../../
        npm run build
      - name: Run component tests
        run:  |
        cd ../../
        npm run test
      - name: Start the app
        run:  |
        cd ../../
        npm start &
          npx wait-on --timeout 60000
      - name: Run visual tests
        run:  |
        cd ../../
        npm run test:visual
